.image{
    max-width: 250px;
    max-height: 250px;
}

.container {
    margin: 5px;
    box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
}

.container:hover{
background: gray;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

