.image{
    width: 250px;
    height: 250px;
        object-fit: contain;
}

.container {
    position: relative;
    margin: 5px;
    box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ff5e00;
    border-style: solid;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.container:hover::before {
    opacity: 0.7;
    /* Adjust the opacity value as desired */
}
